# Application
APP_ENV=development
APP_DEBUG=true

# Database
DB_HOST=mysql
DB_PORT=3306
DB_NAME=ranking
DB_USER=ranking_user
DB_PASS=ranking_pass

# Database Test
DB_TEST_HOST=mysql
DB_TEST_PORT=3306
DB_TEST_NAME=ranking_test
DB_TEST_USER=ranking_user
DB_TEST_PASS=ranking_pass
